<?xml version='1.0'?>
<robot name="Mid360"
    xmlns:xacro="http://www.ros.org/wiki/xacro">

    <link name="base_link">
        <inertial>
            <mass value="0.1"/>
            <inertia>
                <ixx>0.0001</ixx>
                <ixy>0.1</ixy>
                <ixz>0.1</ixz>
                <iyy>0.0001</iyy>
                <iyz>0.1</iyz>
                <izz>0.0001</izz>
            </inertia>
        </inertial>

        <collision name="lidar_collision">
            <geometry>
                <box size="0.05 0.05 0.05"/>
            </geometry>
        </collision>

        <visual name="lidar_visual">
            <geometry>
                <box size="0.05 0.05 0.05"/>
            </geometry>
        </visual>
    </link>

    <link name="lidar_mount">
        <visual name="lidar_visual">
            <geometry>
                <box size="0.05 0.05 0.05"/>
            </geometry>
        </visual>
    </link>

    <joint name="lidar_joint" type="fixed">
        <parent link="base_link"/>
        <child link="lidar_mount"/>
        <origin xyz="0 0 0.5" rpy="0 0 0"/>
    </joint>

    <gazebo reference="lidar_mount">
        <sensor name="laser_livox" type="ray">
            <pose>0 0 0.05 0 0 0</pose>
            <visualize>True</visualize>
            <always_on>true</always_on>
            <update_rate>10</update_rate>
            <plugin filename="liblivox_laser_simulation.so" name="gazebo_ros_laser_controller">
                <ray>
                    <scan>
                        <horizontal>
                            <samples>100</samples>
                            <resolution>1</resolution>
                            <min_angle>-3.1415926535897931</min_angle>
                            <max_angle>3.1415926535897931</max_angle>
                        </horizontal>
                        <vertical>
                            <samples>50</samples>
                            <resolution>1</resolution>
                            <min_angle>-3.1415926535897931</min_angle>
                            <max_angle>3.1415926535897931</max_angle>
                        </vertical>
                    </scan>
                    <range>
                        <min>0.1</min>
                        <max>40</max>
                        <resolution>1</resolution>
                    </range>
                    <noise>
                        <type>gaussian</type>
                        <mean>0.0</mean>
                        <stddev>0.0</stddev>
                    </noise>
                </ray>
                <visualize>true</visualize>
                <samples>20000</samples>
                <downsample>1</downsample>
                <csv_file_name>mid360-real-centr.csv</csv_file_name>
                <publish_pointcloud_type>2</publish_pointcloud_type>
                <ros_topic>/livox/lidar</ros_topic>
                <frameName>lidar_mount</frameName>
            </plugin>
        </sensor>
    </gazebo>

</robot>