<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:macro name="mid_360_mount" params="prefix topic parent_link *origin">

    <xacro:macro name="mid_360" params="frame:=laser topic:=/scan update_rate:=10">
      <link name="${frame}">
        <inertial>
          <mass value="1.1" />
          <origin xyz="0 0 0" />
          <inertia ixx="${0.0833333 * 1.1 * (0.102*0.102 + 0.152*0.152)}" ixy="0.0" ixz="0.0" iyy="${0.0833333 * 1.1 * (0.105*0.105 + 0.152*0.152)}" iyz="0.0" izz="${0.0833333 * 1.1 * (0.105*0.105 + 0.102*0.102)}" />
        </inertial>
      </link>

      <gazebo reference="${frame}">
        <turnGravityOff>true</turnGravityOff>
        <sensor type="ray" name="laser_livox">
          <pose>0 0 0.05 0 0 0</pose>
          <visualize>false</visualize>
          <always_on>True</always_on>
          <update_rate>${update_rate}</update_rate>
          <!-- This ray plgin is only for visualization. -->
          <plugin name="gazebo_ros_laser_controller" filename="liblivox_laser_simulation.so">
            <ray>
              <scan>
                <horizontal>
                  <samples>100</samples>
                  <resolution>1</resolution>
                  <min_angle>-3.1415926535897931</min_angle>
                  <max_angle>3.1415926535897931</max_angle>
                </horizontal>
                <vertical>
                  <samples>50</samples>
                  <resolution>1</resolution>
                  <min_angle>-3.1415926535897931</min_angle>
                  <max_angle>3.1415926535897931</max_angle>
                </vertical>
              </scan>
              <range>
                <min>0.1</min>
                <max>40</max>
                <resolution>1</resolution>
              </range>
              <noise>
                <type>gaussian</type>
                <mean>0.0</mean>
                <stddev>0.0</stddev>
              </noise>
            </ray>
            <visualize>True</visualize>
            <samples>20000</samples>
            <downsample>1</downsample>
            <csv_file_name>mid360-real-centr.csv</csv_file_name>
            <publish_pointcloud_type>2</publish_pointcloud_type>
            <ros_topic>${topic}</ros_topic>
            <frameName>${frame}</frameName>
          </plugin>
        </sensor>
      </gazebo>
    </xacro:macro>

    <xacro:mid_360 frame="${prefix}_laser" topic="${topic}"/>

    <joint name="${prefix}_laser_mount_joint" type="fixed">
      <xacro:insert_block name="origin" />
      <parent link="${parent_link}" />
      <child link="${prefix}_laser_mount" />
    </joint>

    <link name="${prefix}_laser_mount">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <!-- Origin of this mesh is the base of the bracket. -->
          <mesh filename="package://livox_laser_simulation/meshes/livox_mid-360-90x.dae" />
        </geometry>
      </visual>
    </link>

    <joint name="${prefix}_laser_joint" type="fixed">
      <!-- This offset is from the base of the bracket to the LIDAR's focal point. -->
      <origin xyz="0 0 0" rpy="0 0 0" />
      <parent link="${prefix}_laser_mount" />
      <child link="${prefix}_laser" />
    </joint>
  </xacro:macro>

</robot>
